@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Readex+Pro:wght@160..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "Inter";
    letter-spacing: -0.18px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 51px;
    margin-right: 51px;
}
.navbar-menu{
    display: none;
}
.navbar-content{
    display: none;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left img{
    width: 42px;
    height: 42px;
    font-size: 26px;
    margin-right: 10px;
}
.header-center ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-center ul li{
    list-style: none;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 500;
}
.header-center ul li a{
    text-decoration: none;
    color: black;
}
.header-right p{
    font-size: 14px;
}
.header-right p a{
    color: black;
    text-decoration: none;
}
.hero{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-top p{
    text-align: center;
}
.hero-top-heading{
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -0.05em;
}
.hero-top-subheading{
    margin-top: 9px;
    font-weight: 300;
}
.hero-top-buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-top-btn img{
    width: 14px;
    height: 14px;
}

.hero-top-btn1 a{
    color: white;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-size: 14px;
}

.hero-top-btn2 a{
    color: #2667FF;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-size: 14px;
}
.hero-top-btn1{
    width: 200px;
    background-color: #2667FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    transition: 0.3s;
}

.hero-top-btn2{
    width: 200px;
    background-color: white;
    border: 1px #2667FF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-left: 10px;
}

.hero-bottom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    padding-left: 5vw;
    padding-right: 5vw;
}
.hero-b-box{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.hero-b-box1-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    padding-bottom: -40px;
}
.launching-before{
    font-size: 36px;
    width: 60%;
    color: white;
}
.launching{
    font-size: 12px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    height: fit-content;
    color: #2667FF;
}

.hero-b-box1{
    border-radius: 20px;
    background-image: url('./assets/img/Rectangle\ 01.png');
    background-size: 40vw 600px;
    background-position-x: -5vw;
}
.hero-b-box2{
    background-color: #F4F4F6;
    padding-left: 40px;
    padding-right: 40px;
}
.hero-b-box2-title{
    font-size: 32px;
}
.hero-b-box2-sub{
    font-size: 14px;
    margin-bottom: 20px;
}

.hero-b-box3-box1{
    background-color: #F4F4F6;
    border-radius: 20px;
    padding:30px 35px;
    height: 30%;
    background-image: url('./assets/img/Capa\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-b-box3-box2{
    background-color: #F4F4F6;
    padding: 30px 35px;
    border-radius: 20px;
    background-image: url('./assets/img/Union.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}
.hero-b-box3{
    width: 30vw;
}
.hero-b-box3-box1-head{
    font-size: 32px;
}
.hero-b-box3-box1-sub{
    font-size: 12px;
}
.hero-b-box3-box3{
    display: flex;
    flex-direction: row;
}
.hero-box3-box-3-btn1{
    width: 10.5vw;
    background-color: #2667FF;
    border: 1px #2667FF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-left: 10px;
}
.hero-box3-box-3-btn1 a{
    color: white;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-size: 14px;
}
.hero-box3-box-3-btn2{
    width: 10.5vw;
    background-color: white;
    border: 1px #2667FF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    margin-left: 10px;
}
.hero-box3-box-3-btn2 a{
    color: #2667FF;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-size: 14px;
}
.quote{
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.05em;
}
.quote-head{
    font-weight: 200;
    font-size: 24px;
    text-align: center;
}
.quote-para{
    font-style: italic;
    font-size: 36px;
    text-align: center;
    font-weight: 250;
    max-width: 70vw;
    margin-top: 20px;
}
.map{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: -0.05em;
}
.back-map-line{
    position:absolute;
    z-index: -1;
    width: 1px;
    height: 70vw;
    background-color: #2667FF;
    left: 50vw;
    top: 110vh;
}
.map-head{
    text-align: center;
    margin-bottom: 50px;
}
.map-box{
    display: flex;
}
.map-box-ball{
    background-color: #2667FF;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 10px white solid;
}
.map-box-content{
    max-width: 40vw;
    border-radius: 20px;
    padding: 20px 30px;
    border:1px #2667FF solid;
    margin-top: -10px;
    margin-bottom: 50px;
}
.map-box-content ul{
    margin-left: 20px;
    margin-top: 10px;
}
.map-box-content-head{
    font-weight: 400;
    margin-bottom: 10px;
}
.map-box-1{
    display: flex;
    flex-direction: row;
    margin-left: 48.3vw;
}
.map-box-1 .map-box-content{
    margin-left: 8px;
}
.map-box-2{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 48.3vw;
}
.map-box-2 .map-box-content{
    margin-right: 8px;
}
.map-box-3{
    display: flex;
    flex-direction: row;
    margin-left: 48.3vw;
}
.map-box-3 .map-box-content{
    margin-left: 8px;
}
.map-box-4{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 48.3vw;
}
.map-box-4 .map-box-content{
    margin-right: 8px;
}
.map-box-5{
    display: flex;
    flex-direction: row;
    margin-left: 48.3vw;
}
.map-box-5 .map-box-content{
    margin-left: 8px;
}
.map-box-6{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 48.3vw;
}
.map-box-6 .map-box-content{
    margin-right: 8px;
}
.map-box-7{
    display: flex;
    flex-direction: row;
    margin-left: 48.3vw;
}
.map-box-7 .map-box-content{
    margin-left: 8px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-s-1{
    padding: 00px;
}
.contact-s-1 p{
    text-align: center;
    margin-bottom: 20px;
}
.contact-s-1-btn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-s-1-btn1{
    width: 15vw;
    background-color: #2667FF;
    border: 1px #2667FF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-left: 10px;
}
.contact-s-1-btn1 a{
    color: white;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-size: 14px;
}
.contact-s-1-btn2{
    width: 15vw;
    background-color: white;
    border: 1px #2667FF solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-left: 10px;
}
.contact-s-1-btn2 a{
    color: #2667FF;
    margin-right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-size: 14px;
}

.contact-s-2{
    width: 95vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.contact-s-2 p{
    font-size: 48px;
    font-weight: 300;
}
.contact-s-2-details-top{
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 50px;
}
.contact-s-2-details-top input{
    flex: 1;
    border: none;
    border-bottom: 1px black solid ;
    outline: none;
    padding:20px 0px ;
    font-family: "Inter";
    font-size: 14px;
}
.contact-s-2-msg{
    border: none;
    border-bottom: 1px black solid ;
    outline: none;
    padding:20px 0px ;
    outline: none;
    font-family: "Inter";
    font-size: 14px;
}
.contact-s-2-submit{
    background-color: #2667FF;
    padding: 10px 30px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 20px;
    transition: 0.3s;
}
.contact-s-2-submit button{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    margin-right:20px ;
}
.contact-s-2-submit-icon{
    width: 30px;
    height: 10px;
    background-image: url('./assets/icons/Arrow\ 3.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.contact-s-2-submit:hover{
    background-color: white;
    border: 1px #2667FF solid;
}
.contact-s-2-submit:hover button{
    color: #2667FF;
}

.contact-s-3{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 40px;
    
    width: 100vw;
    border-bottom: 1px black solid;
}
.contact-s-3 a{
    color: black;
    font-weight: 200;
    text-decoration: none;
}
.contact-s-4{
    width: 100vw;
    margin: 50px;
}
.contact-s-4 p{
    font-weight: 200;
    text-align: center;
    font-size: 14px;
}